<div class="page">
  <div class="content" role="main">

    <div class="role-switch">
      <button type="button" mat-raised-button color="primary" (click)="changeUserRole()">
        Switch role
      </button>
      <span class="role-label">Current role: {{ currentUserRole }}</span>
    </div>
    <div class="card shadow" *ngIf="dynamicFields; else loader">
      <form (ngSubmit)="save()" [formGroup]="form" *ngIf="form">

        <!-- ********************  DETAILS SECTION ****************************************** -->
        <h3>Details</h3>
        <div formGroupName="details">
          <div *ngFor=" let dynamicField of dynamicFields['details']; trackBy: trackById">
            <ng-container [ngSwitch]="dynamicField.type">

              <ng-container *ngSwitchCase="formFieldTypes.text">
                <mat-form-field class="full-width">
                  <mat-label>
                    {{ dynamicField.label }}
                  </mat-label>
                  <input matInput [formControlName]="dynamicField.fieldId" />
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="formFieldTypes.checkbox">
                <div class="width-50 form-field">
                  <mat-checkbox [formControlName]="dynamicField.fieldId">
                    {{ dynamicField.label }}
                  </mat-checkbox>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="formFieldTypes.select">
                <div class="width-50 form-field">
                  <mat-label> {{ dynamicField.label }}</mat-label>
                  <mat-select [formControlName]="dynamicField.fieldId">
                    <mat-option *ngFor="let option of dynamicField.options" [value]="option.key">
                      {{ option.value }}
                    </mat-option>
                  </mat-select>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- ********************  ADDRESS SECTION ****************************************** -->
        <h3>Address</h3>
        <div formGroupName="address">
          <div *ngFor="
              let dynamicField of dynamicFields['address']; trackBy: trackById">
            <ng-container [ngSwitch]="dynamicField.type">

              <ng-container *ngSwitchCase="formFieldTypes.text">
                <mat-form-field class="full-width">
                  <mat-label>
                    {{ dynamicField.label }}
                  </mat-label>
                  <input matInput [formControlName]="dynamicField.fieldId" />
                </mat-form-field>
              </ng-container>

              <ng-container *ngSwitchCase="formFieldTypes.checkbox">
                <div class="width-50 form-field">
                  <mat-checkbox [formControlName]="dynamicField.fieldId">
                    {{ dynamicField.label }}
                  </mat-checkbox>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="formFieldTypes.select">
                <mat-form-field class="width-50 form-field">
                  <mat-label> {{ dynamicField.label }}</mat-label>
                  <mat-select [formControlName]="dynamicField.fieldId">
                    <mat-option *ngFor="let option of dynamicField.options" [value]="option.key">
                      {{ option.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label> {{ dynamicField.label }}</mat-label>
                  <mat-select [formControlName]="dynamicField.fieldId">
                    <mat-option *ngFor="let option of dynamicField.options" [value]="option.key">
                      {{ option.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="form-buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
            Save
          </button>
          <div class="submit-success" *ngIf="saveSuccess">
            Data saved correctly.
          </div>
        </div>
      </form>
    </div>
    <ng-template #loader>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</div>
