<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="toolbar" role="banner">
  <a routerLink="cross">
    <img width="40" id="angularLogo" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  </a>
  <span class="header-title">Reactive Forms Workspace</span>
  <div class="spacer"></div>
</div>

<div class="page">
  <div class="content" role="main">
    <form (ngSubmit)="submitData()" [formGroup]="registrationForm" class="card" autocomplete="off">

      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="name?.hasError('required')">
          Field required!
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="isAbroad">
        Address abroad
      </mat-checkbox>

      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
        <mat-error *ngIf="registrationAddress?.hasError('required')">
          Field required!
        </mat-error>
        <mat-error *ngIf="registrationAddress?.hasError('minlength')">
          The address must contain at least 5 characters!
        </mat-error>
        <mat-error *ngIf="registrationAddress?.hasError('maxlength')">
          The address cannot be longer than 30 characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>User Profile</mat-label>
        <mat-select formControlName="userProfile">
          <mat-option *ngFor="let profile of userProfiles" [value]="profile.value">
            {{ profile.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-buttons">
        <button type="submit" mat-raised-button class="submit-btn" color="primary" [disabled]="!registrationForm.valid">
          Submit
        </button>
        <button type="button" mat-raised-button (click)="resetForm()">
          Reset form
        </button>
        <div class="submit-success" *ngIf="registerSuccess">
          Form submitted successfully!
        </div>
      </div>
    </form>
  </div>
</div>
