html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 8px 0;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 0 1rem;

    #angularLogo {
        margin-right: 1rem;
    }

    #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }

    #twitter-logo:hover {
        opacity: 0.8;
    }

    .spacer {
        flex: 1;
    }
}

.page {
    display: flex;
    height: calc(100vh - 60px);
}

.content {
    display: flex;
    margin: 24px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

code {
    background-color: #d3d3d3;
    padding: 1px 3px;
    border-radius: 4px;
}

.header-title {
    font-size: 1.5rem;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
}

.shadow {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


.form-container {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
}

.center-flex {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-50 {
    width: 50%;
}

.demo-content {
    max-width: 600px;
    margin: 1.5rem auto 0;
}

.submit-success {
    padding: 1rem;
    border: 1px solid green;
    border-radius: 4px;
    margin-top: 1.5rem;
    background-color: rgba(112, 190, 112, 0.753);
}

.form-buttons {
    margin-top: 1.5rem;
}

.mat-checkbox-label {
    font-size: 14px;
    color: gray;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
